# Preliminary Data Preprocessing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./../data/data.csv')

In [3]:
df.shape

(20632, 33)

In [4]:
df.head()

,index,id,name,blurb,goal,pledged,state,slug,disable_communication,country,...,name_len,name_len_clean,blurb_len,blurb_len_clean,deadline_weekday,created_at_weekday,launched_at_weekday,create_to_launch,launch_to_deadline,launch_to_state_change
0,0,1454391034,Auntie Di's Music Time Sign ASL for Hearing an...,MTS ASL Curriculum Workbook is a reproducible ...,1500.0,0.0,failed,auntie-dis-music-time-sign-asl-for-hearing-and...,False,US,...,11.0,9.0,21.0,16.0,Friday,Saturday,Wednesday,17 days 14:51:39.000000000,36 days 20:47:24.000000000,NaN
1,1,1655206086,Jump Start Kindergarten Toolkit,"This kit teaches how to print, correct an ugly...",500.0,0.0,failed,jump-start-kindergarten-toolkit,False,US,...,4.0,4.0,23.0,15.0,Friday,Friday,Monday,10 days 06:44:39.000000000,60 days 00:00:00.000000000,NaN
2,2,311581827,Ojukwu Balewa Awolowo (O.B.A.) Public Library ...,"Establishing a free, world-class, public libra...",100000.0,120.0,failed,ojukwu-balewa-awolowo-oba-public-library-of-ni...,False,US,...,8.0,8.0,18.0,10.0,Thursday,Saturday,Sunday,1 days 08:08:58.000000000,60 days 00:00:00.000000000,NaN
3,3,859724515,"MASTIZE - [mas-TAHYZ, MAS-tahyz] - to spread",Goal: Introducing a new word into the English ...,5000.0,0.0,failed,mastize-mas-tahyz-mas-tahyz-to-spread,False,US,...,7.0,6.0,21.0,13.0,Monday,Friday,Saturday,0 days 02:11:17.000000000,30 days 00:00:00.000000000,NaN
4,4,1613604977,"Synopse der EU-DSGVO - Artikel, Erwägungsgründ...",Zu den Artikeln der DSGVO sind die korrespondi...,3222.0,356.0,failed,synopse-der-eu-dsgvo-artikel-erwagungsgrunde-bdsg,False,DE,...,7.0,7.0,18.0,18.0,Monday,Wednesday,Thursday,0 days 15:47:38.000000000,32 days 06:02:33.000000000,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20632 entries, 0 to 20631
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   20632 non-null  int64
 1   id                      20632 non-null  int64
 2   name                    20632 non-null  object
 3   blurb                   20627 non-null  object
 4   goal                    20632 non-null  float64
 5   pledged                 20632 non-null  float64
 6   state                   20632 non-null  object
 7   slug                    20632 non-null  object
 8   disable_communication   20632 non-null  bool
 9   country                 20632 non-null  object
 10  currency                20632 non-null  object
 11  currency_trailing_code  20632 non-null  bool
 12  deadline                20632 non-null  object
 13  state_changed_at        20632 non-null  object
 14  created_at              20632 non-null  object
 15  launched_at             20632 non-null  object
 16  staff_pick              20632 non-null  bool
 17  backers_count           20632 non-null  int64
 18  static_usd_rate         20632 non-null  float64
 19  usd_pledged             20632 non-null  float64
 20  category                18743 non-null  object
 21  spotlight               20632 non-null  bool
 22  source_url              20632 non-null  object
 23  name_len                20627 non-null  float64
 24  name_len_clean          20627 non-null  float64
 25  blurb_len               20627 non-null  float64
 26  blurb_len_clean         20627 non-null  float64
 27  deadline_weekday        20632 non-null  object
 28  created_at_weekday      20632 non-null  object
 29  launched_at_weekday     20632 non-null  object
 30  create_to_launch        20632 non-null  object
 31  launch_to_deadline      20632 non-null  object
 32  launch_to_state_change  6018 non-null   object
dtypes: bool(4), float64(8), int64(3), object(18)
memory usage: 4.6+ MB

In [6]:
df.describe()

,index,id,goal,pledged,backers_count,static_usd_rate,usd_pledged,name_len,name_len_clean,blurb_len,blurb_len_clean
count,20632.000000,2.063200e+04,2.063200e+04,2.063200e+04,20632.000000,20632.000000,2.063200e+04,20627.000000,20627.000000,20627.000000,20627.000000
mean,10315.500000,1.071156e+09,9.410497e+04,2.139268e+04,183.675843,1.039363,2.091591e+04,5.940806,5.292578,18.991177,13.081204
std,5956.089713,6.154929e+08,1.335511e+06,1.204973e+05,1222.012658,0.230419,1.154717e+05,2.826118,2.418168,4.632371,3.283547
min,0.000000,1.645550e+05,1.000000e+00,0.000000e+00,0.000000,0.045641,0.000000e+00,1.000000,1.000000,1.000000,1.000000
25%,5157.750000,5.472185e+08,4.000000e+03,2.500000e+01,2.000000,1.000000,2.500000e+01,4.000000,3.000000,17.000000,11.000000
50%,10315.500000,1.069882e+09,1.400000e+04,6.950000e+02,12.000000,1.000000,7.163012e+02,6.000000,5.000000,20.000000,13.000000
75%,15473.250000,1.601801e+09,5.000000e+04,5.954250e+03,63.000000,1.000000,6.004628e+03,8.000000,7.000000,22.000000,15.000000
max,20631.000000,2.147388e+09,1.000000e+08,6.225355e+06,105857.000000,1.715913,6.225355e+06,16.000000,14.000000,35.000000,30.000000

It is necessary for us to remove all the text column, since textual analysis will not be covered in this project.

In [7]:
# Columns to be dropped
drop_columns = ['index', 'name', 'blurb', 'slug', 'source_url']
df.drop(drop_columns, axis=1, inplace=True)

In [8]:
df['goal_fx'] = df['goal'] * df['static_usd_rate']

In [9]:
df.shape

(20632, 29)

In [10]:
# Only select successful and failed projects
states = ['successful', 'failed']
df = df[df['state'].isin(states)]

In [11]:
df.shape

(17434, 29)

In [12]:
# Select observations with goal amount 
df = df[(df['goal_fx']<100000) & (df['goal_fx']>1000)]

In [13]:
df.shape

(13788, 29)

In [14]:
# Remove observations for countries whose count is less than 50
country_cnt = pd.DataFrame(df['country'].value_counts())
relevant_countries = country_cnt[country_cnt['country']>50].index
df = df[df['country'].isin(relevant_countries)]

In [15]:
df.shape

(13613, 29)

In [16]:
df.to_csv('./../data/prelim.csv', index=False)